<html>
<head>
    <title>MQuiz</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'quiz/style.css' %}">
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <ul >
            <li class ="nav_content"><a href="{% url 'index' %}">Home</a></li>
            {% if not request.user.is_authenticated  %}
                <li class ="nav_content"><a href="{% url 'register' %}">Register</a></li>
                <li class ="nav_content"><a href="{% url 'login' %}">Login</a></li>
            {% else %}
                <li class ="nav_content"><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
{% block content %}

{% endblock %}
</body>
</html>